<!doctype html>
<html>
  <head>
    <title>Project CRUD</title>
  </head>
  <body>
    <h1>
        <a href="{{ url_for('users_get') }}">Просмотр пользователей</a>
    </h1>

    <hr>

    <table>
        <tr>
            <td>ID пользователя: {{ user.id }}</td>
        </tr>
        <tr>
          <td>Имя пользователя: {{ user.name }}</td>
        </tr>
        <tr>
          <td>Почтовый адрес : {{ user.email }}</td>
        </tr>
    </table>
    <form action="{{ url_for('user_delete', id=user.id) }}" method="post" 
        onsubmit="return confirm('Are you sure you want to delete user?');">
        <input type="submit" value="Удалить">
    </form>
  </body>
</html>
