<!doctype html>
<html>
  <head>
    <title>Project CRUD</title>
  </head>
  <body>
    <div>
        <h1>
            <a href="{{ url_for('user_new') }}">Добавить нового пользователя</a>
        </h1>
        <hr>
    </div>


    <table>
        <ol>
        {% for user in users %}
            <li>
                Пользователь: {{ user.name }}
                <a href="{{ url_for('user_get', id=user.id) }}">Просмотр</a> 
                <a href="{{ url_for('user_edit', id=user.id) }}">Редактировать</a> 
            </li>
        {% endfor %}  
        </ol>
    </table>
    
    {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
  </body>
</html>
