<form action="{{ url_for('user_post') }}" method="post">
    <h1>Создание нового пользователя</h1>
    <hr>

    <div style="padding: 10px 0 0 0;">
        <label> Имя пользователя:
            <input type="text" required name="name" value="{{ user.name }}">
        </label>
        {% if err['name'] %}
            <div>
                {{ err['name'] }}
            </div>
        {% endif %}
    </div>

    <div style="padding: 10px 0 0 0;">
        <label> Почтовый адрес:
            <input type="email" required name="email" value="{{ user.email }}">
        </label>
        {% if err['email'] %}
            <div>
                {{ err['email'] }}
            </div>
        {% endif %}
    </div>
    <div style="padding: 10px 0 0 0;">
        <input type="submit" value="Создать пользвателя">
    </div>
</form>